# Ignore all files in the DSA Lab directory
/DSA Lab/Assignment */*
/DSA Lab/*
/OOPs/java_ass/bin/*
# Do not ignore .c files in the DSA Lab directory
!/DSA Lab/*.docx
!/DSA Lab/Assignment *
!/DSA Lab/Assignment */*.c
!/DSA Lab/Assignment */*.cpp
!/DSA Lab/DSA Assignment *.jpeg
!/DSA Lab/DSA Assignment *.pdf


# Additionally, if you want to keep the .gitignore itself
!.gitignore
/.metadata/
