# Ignore all files in the DSA Lab directory
/DSA Lab/Assignment */*
/DSA Lab/*
# Do not ignore .c files in the DSA Lab directory
!/DSA Lab/*.docx
!/DSA Lab/Assignment *
!/DSA Lab/Assignment */*.c
!/DSA Lab/Assignment */*.cpp
!/DSA Lab/Assignment */DSA Assignment *.jpeg
!/DSA Lab/Assignment */DSA Assignment *.pdf

# Additionally, if you want to keep the .gitignore itself
!.gitignore
/.metadata/
